@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  
  --color-background: #0B0C0E;
  --color-surface: #121417;
  --color-primary: #38bdf8;
  --color-secondary: #818cf8;
  
  --animate-pulse-slow: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

body {
  background-color: #000205;
  color: #e5e7eb;
  overflow-x: hidden;
}

/* Custom scrollbar for code blocks */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #1e1e1e;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

.glass-panel {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}
